.additional__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin:0px;
    color: #FFFFFF;   
    
    padding: 30px 18px;
    
}