.intro__subtitle {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 1.1;
margin:0;
margin-bottom: 2rem;
color: #FFFFFF;
}

@media screen and (max-width : 425px) {
    .intro__subtitle {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}