.cover__title {
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 4.5rem;
line-height: 1;
text-align: center;
margin:  0;
color: #FFFDFD;
padding-top: 25%;

}

@media screen and (max-width: 425px) {
    .cover__title{
    font-size: 2rem;
    width :250px;
    margin: auto;
    }
}